<div id="container">
  <header>
    <img id="mastheadLogo" width="379" height="64" alt="The New York Times" src="http://i1.nyt.com/images/misc/nytlogo379x64.gif">
    <i class="icon icon-logo">The New York Times</i>
    <div class="languages">
      <a class="lang-en" href="/news/en">EN</a>
      <a class="lang-martian" href="/news/mrtn"></a>
    </div>
  </header>
  <%= render "articles", locals: {articles: @articles} %>
  <a href="#" class="load-more">Load More</a>
</div>
